@import '../../index.scss';

.navbar {
    width: 100%;
    min-height: 40px;
    background-color: #00AAE4;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d0d3e0;
        text-decoration: none;
        width: 50%;
        height: 100%;
        transition: all .2s ease;
        font-weight: 400;

        &:first-child {
            border-right: 1px solid #a3b1ecb2;
        }

        &:hover {
            background-color: #009dff;
            color: #fff;
        }

        &.active {
            background-color: #00AAE4;
            color: #FFF;
            font-weight: 600;
        }

        &.bloqued {
            background-color: #aaa;
            font-weight: 400;
            color: #666;
            cursor: default;
        }
    }
}