@import '../../index.scss';

.item-list {
    max-height: 3em;
    width: 100%;
    border-bottom: 1px solid #1c3a98;   
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    .item-name {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        transition: all .1s ease;
        margin-left: 1.2em;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    &:hover:not(.isActive) {
        .item-name {
            color: #1c3a98;
            font-weight: 600;
        }
    }

    &.isActive {
        background-color: #097cff;

        .item-name {
            color: #f6f7f8;
        }
    }

    &.new {
        background-color: rgba(142, 223, 61, 0.842);

        .item-name {
            font-weight: bold;
            font-style: italic;
        }
    }

}