.seller {
    background-color: #f6f7f8;
    flex: 0.25;
    border-right: 2px solid #1c3a98;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        width: 100%;
    }
}